@tailwind base;
@tailwind components;
@tailwind utilities;

.Appointment-Button {
  width: 115px;
  height: 80px;
  border-radius: 5px;
}

.Appointment-Button:hover {
  background: rgb(105, 155, 206);
}

.Quick-Menu-Button {
  border-radius: 5%;
  height: 90px;
  width: 90px;
}

.Day-Class {
  width: 115px;
}